<mat-list role="list" class="sidebar">
    <mat-list-item role="listitem">Case Initiated</mat-list-item>
    <mat-list-item role="listitem">Scrunity</mat-list-item>
    <mat-list-item role="listitem">Data Entry</mat-list-item>
    <mat-list-item role="listitem">Checker</mat-list-item>
    <mat-list-item role="listitem">Import/Export</mat-list-item>
    <mat-list-item role="listitem">Physical Verification</mat-list-item>
    <mat-list-item role="listitem">Reports</mat-list-item>
    <mat-list-item role="listitem">Admin</mat-list-item>
  </mat-list>